<header>
  <section>
    <h1 tabindex="1">What kind of horror are you looking for?</h1>
    <form action="/" method="POST">
      <input type="text" name="search" placeholder="Search movies..." />
      <button>Search</button>
    </form>
  </section>
</header>
