<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="HorrorInfo" />
    <meta name="apple-mobile-web-app-title" content="HorrorInfo" />
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="msapplication-starturl" content="/" />
    <meta name="Title" content="HorrorInfo" />
    <meta
      name="Description"
      content="Search for the horror movies & get the information"
    />
    <base href="/" />
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/images/icons/favicon.ico"
    />
    <link rel="stylesheet" href="styles/index.css" />
    <title><%= pageTitle %> | HorrorInfo</title>
    <script
      src="https://kit.fontawesome.com/229b7397fb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <%- body %>
</html>
