<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head.ejs") %>
  <body>
    <section>
      <h2>Ooooops</h2>
      <p>
        Sorry, the page you are trying to reach does not exist...Go back to the
        home page.
      </p>
      <a href="/">Go to homepage</a>
    </section>
  </body>
</html>
