<body class="offline-page">
  <header>
    <h1>Je bent offline!</h1>
  </header>
  <main>
    <section>
      <p>Oeeeps, je internet verbinding is weggevallen!</p>
    </section>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
