<body class="offline-page">
  <header>
    <h1>Oooops!</h1>
  </header>
  <main>
    <section>
      <p>Currently you can't view this page. You're offline.</p>
      <div>
        <a href="/">Go to Homepage</a>
      </div>
    </section>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
