/*******************************************************
                        FOOTER:
********************************************************/

footer {
  display: flex;
  background-color: var(--secondary);
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(96, 96, 96);
  width: 100%;
  max-height: 180px;
  padding: 1.5em 1em;
  margin-top: 2em;
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section p {
  text-align: center;
}

footer section a {
  text-decoration: none;
  color: var(--primary);
}

footer section a:hover {
  color: #01b4e4;
}

footer section a img {
  width: 200px;
  margin: 1em;
}
