@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

:root {
  --primary: #e7e7e7;
  --secondary: #000;
  --posters: #323232;
  --gradient-1: #002265;
  --gradient-2: #7b0000;
  --dark-red: #3f0000;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
}

html {
  background-color: var(--secondary);
  color: var(--primary);
}

h1,
h2 {
  font-family: "Girassol", cursive;
}

/*******************************************************
                  OVERVIEW HEADER:
********************************************************/

.home-page {
  position: relative;
}

.home-page form div {
  background-color: var(--dark-red);
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 0;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 2em;
  box-shadow: 2px 5px 15px var(--dark-red);
}

.home-page .inputDiv div ul li {
  list-style-type: none;
  margin-bottom: 1em;
  background-color: var(--posters);
}

.home-page .inputDiv div ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.home-page .inputDiv div ul li a img {
  width: 100px;
  margin-right: 1em;
}

.home-page .inputDiv div ul li a h3 {
  color: var(--primary);
}

.home-page header {
  height: 45vh;
  background: var(--secondary);
  background-image: url("/images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* test 2 */

.home-page header::after {
  content: "";
  background: var(--secondary);
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.home-page header section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.home-page header section h1 {
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-weight: normal;
  margin-bottom: 1em;
}

.home-page header section form {
  position: relative;
  height: 50px;
  width: 50%;
}

.home-page header section form input {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.home-page header section form::after {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  color: var(--primary);
  display: block;
  font-size: 1.5em;
  top: 50%;
  right: 0%;
  transform: translateX(-50%) translateY(-50%);
}

.home-page header section div input:focus {
  background-color: var(--dark-red);
  outline: none;
}

.hidden {
  display: none;
}

/*******************************************************
                    OVERVIEW MAIN:
********************************************************/

.home-page h2 {
  font-weight: normal;
}

.home-page main {
  padding: 0px 2em;
}

.home-page section {
  margin-bottom: 5em;
}

.home-page main section h2 {
  font-size: 2.5em;
}

.home-page main section ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  align-items: start;
  padding-top: 1.5em;
}

.home-page main section ul::-webkit-scrollbar {
  display: none;
}

.home-page main section ul li {
  background-color: var(--posters);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-left: 1em;
  transition: 0.5s;
  height: 500px;
}

.home-page main section ul li a {
  text-decoration: none;
  height: 100%;
  display: inline-block;
  position: relative;
}

.home-page main section ul li a h3 {
  font-family: "Girassol", cursive;
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--primary);
  width: 100%;
  height: 3em;
  text-align: center;
  line-height: 3em;
  position: absolute;
  z-index: 3;
  bottom: 0;
}

.home-page main section ul li a h3:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-page main section ul li a img {
  height: 100%;
}

.home-page main section ul li:hover {
  background-color: var(--primary);
  transform: scale(1.1);
}

.home-page main section ul li:hover a h3 {
  color: var(--gradient-2);
}

.home-page main section ul li:hover a h3::before {
  background-color: white;
}

@media (max-width: 768px) {
  .home-page main section ul li {
    height: 350px;
  }
}

/*******************************************************
                  MOVIE HEADER:
********************************************************/

.movie-page header {
  background-color: var(--secondary);
  position: relative;
  padding: 2em 4em;
  margin-bottom: 5em;
}

.movie-page header a {
  position: relative;
  top: 40px;
  left: 0;
  background-color: var(--posters);
  font-family: "Girassol", cursive;
  text-decoration: none;
  color: var(--primary);
  font-size: 1.5em;
  padding-left: 30px;
  padding: 10px 35px 10px 25px;
  border-radius: 2px;
  transition: 0.3s;
}

.movie-page header a::before {
  --width: 25px;
  content: "\f053";
  font-family: FontAwesome;
  display: inline-block;
  left: 10px;
  width: var(--width);
  height: var(--width);
}

.movie-page header a:hover {
  color: var(--gradient-2);
  background-color: var(--primary);
}

.movie-page header::before,
.movie-page header::after {
  content: "";
  background-image: url("../images/scratch.png");
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  display: block;
  position: absolute;
  z-index: 3;
  width: 4em;
  height: 4em;
}

.movie-page header::before {
  transform: rotate(-180deg);
  left: 3em;
  bottom: 3em;
}

.movie-page header::after {
  top: 1em;
  right: 3em;
}

.movie-page header h1 {
  background-color: #191919;
  text-align: center;
  color: #892417;
  font-size: clamp(3.5rem, 5vw, 5rem);
  padding: 0.5em;
}
